* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(94, 94, 94);
  height: 100vh;
}

.menu {
  width: 100%;
  padding: 10px 50px;

  position: fixed;
  top: 0;
  left: 0;

  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.menu img {
  width: 60px;
  height: 46px;
}

.menu nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.menu label i {
  color: white;
  font-size: 30px;
  display: none;
}

.menu input {
  display: none;
}

main {
  height: 100vh;
  background-color: #000000;
  clip-path: polygon(0 0, 66% 0, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
}

main .content {
  width: 50%;
  height: 100%;

  padding-left: 75px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

main .content h2 {
  color: #fff;
  font-size: 50px;
}

main .content p:nth-child(1) {
  color: #fff;
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
}

main .content p:nth-child(5) {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin-top: 10px;
}

main .content div i {
  color: gold;
  letter-spacing: 5px;
  margin-top: 10px;
}

button {
  height: 30px;
  width: 110px;
  background-color: gray;
  border-radius: 20px;
  margin-top: 10px;
  color: #fff;
}
button:hover{
  transition: 0.7s ease;
  transform: scale(1.2);
}

body .air img {
  height: 900px;
  width: 900px;

  position: absolute;
  top: 4%;
  right: -4%;
  z-index: 30;
}
.bxl-twitter{
color: white;
 position: absolute;
 bottom: 10px;
 left: 2%;
 font-size: 20px;
}
.bxl-twitter:hover{
  transition: 0.7s;
  transform: scale(1.2);
  color: #00acee;
}
.bxl-facebook{
  color: white;
 position: absolute;
 bottom: 10px;
 left: 4%;
 font-size: 20px;
}
.bxl-facebook:hover{
  transition: 0.7s;
  transform: scale(1.2);
  background-color: #3b5998;
}
.bxl-youtube{
  color: white;
  position: absolute;
  bottom: 10px;
  left: 6%;
  font-size: 20px;
}
.bxl-youtube:hover{
  transition: 0.7s;
  transform: scale(1.2);
  color: red;
}
@media (max-width: 500px) {
  .listas {
    width: 100%;
    height: 0;

    background-color: rgba(0, 0, 0, 0.6);

    position: absolute;
    top: 100%;
    left: 0;

    opacity: 0;
    visibility: hidden;
  }

  .listas a {
    display: block;
    text-align: center;
    margin-top: 15px;
    opacity: 0;
    transition: 0.7s ease;
    transform: translateY(-50px);
  }

  .menu label i {
    display: inline-flex;
  }

  .menu .icons .bx-x {
    display: none;
  }

  .menu input:checked ~ .icons .bx-menu {
    display: none;
  }

  .menu input:checked ~ .icons .bx-x {
    display: block;
  }

  .menu input:checked ~ .listas {
    height: auto;
    padding: 10px 20px 40px 20px;
    opacity: 1;
    visibility: visible;
  }

  .menu #check:checked ~ .listas a {
    transform: translateY(0px);
    opacity: 1;
  }
 body{
  width: 500px;
 }
}